*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.registration-form{
    min-height: 100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(-120deg,#021B79,#0575E6,#205E9B);
    flex-direction: column;
    gap: 30px;
    
}

h1{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.inputbox{
    position: relative;
    width: 250px;
    padding-top: 40px;
}

.inputbox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255);
    background: #0575E6;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    font-size: 1em;
    transition: 0.5s;
}
.inputbox span {
    position: absolute;
    left: 0;
    padding: 10px;
    padding-left: 20px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255);
    text-transform: uppercase;
    transition: 0.5s;
}


.inputbox:hover span,
.inputbox input:valid ~ span,
.inputbox input:focus ~ span{
    color: #fff;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #0575E6;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    letter-spacing: 0.2em;

}


.inputbox:hover input,
.inputbox input:valid,
.inputbox input:focus{
    border: 1px solid #ffffff;
}



/* Border Animation */

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }
  
  :root {
      --d: 2500ms;
      --angle: 90deg;
      --gradX: 100%;
      --gradY: 50%;
      --c1: rgba(168, 239, 255, 1);
      --c2: rgba(168, 239, 255, 0.1);
  }
  
  .box {    
      border: 0.25rem solid;
      padding: 3vw;
      border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
      animation: borderRotate var(--d) linear infinite forwards;
  }
  
  @keyframes borderRotate {
      100% {
          --angle: 420deg;
      }
  }
  
  @keyframes borderRadial {
      20% {
          --gradX: 100%;
          --gradY: 50%;
      }
      40% {
          --gradX: 100%;
          --gradY: 100%;
      }
      60% {
          --gradX: 50%;
          --gradY: 100%;
      }
      80% {
          --gradX: 0%;
          --gradY: 50%;
      }
      100% {
          --gradX: 50%;
          --gradY: 0%;
      }
  }


.button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 40px;
}
.button input{
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: #021B79;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.button input:hover{
    color: #ffffff;
    background-color: #0575E6;
    border: 1px solid #ffffff;
}


